@using Site.Identity
@{
    ViewData["Title"] = "Registro do Caixa";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card bg-white">
            <div class="card-body d-flex align-items-center justify-content-between">
                <h4 class="mt-1 mb-1">Olá, @User.Identity.GetNome()!</h4>
                <button class="btn btn-info d-none d-md-block" onclick="abrirModal()">Agendar Serviço</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <label>Serviços Agendados </label>
                <small>@DateTime.Now.ToShortDateString()</small>
                <table class="table table-striped table-hover" id="tblAgendamentos">
                    <thead>
                        <tr>
                            <th>Pet</th>
                            <th>Cliente</th>
                            <th class="text-center">Hora</th>
                            <th class="text-center">#</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="alert alert-info" id="divSemAgendamento" style="display: none">
                    <label>Nenhum agendamento pendente!</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <label>Serviços Concluídos </label>
                <small>@DateTime.Now.ToShortDateString()</small>
                <table class="table table-striped table-hover" id="tblConcluidos">
                    <thead>
                        <tr>
                            <th>Pet</th>
                            <th>Cliente</th>
                            <th class="text-center">Valor</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="alert alert-info" id="divSemConclusao" style="display: none">
                    <label>Nenhum serviço concluído!</label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para informações de agendamento -->
<div class="modal fade" id="mdlAgendamento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 750px; width: 750px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-agendamento" method="post" action="javascript:void(0)">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="hddEdicaoId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cliente</label>
                                <select class="form-control select" required="" name="ClienteId" id="ddlCliente" style="width: 100%"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pet</label>
                                <select class="form-control select" required="" name="AnimalId" id="ddlAnimal" style="width: 100%" disabled=""></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Serviço</label>
                                <select class="form-control select" required="" name="ServicoId" id="ddlServico" style="width: 100%;" disabled=""></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Dia</label>
                                <input type="text" class="form-control date" required="" name="DiaMarcado" id="txtData" disabled="" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Hora</label>
                                <input type="text" class="form-control time" required="" name="HoraMarcado" id="txtHora" disabled="" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Profissional</label>
                                <select class="form-control select" required="" name="UsuarioId" id="ddlUsuario" style="width: 100%" disabled=""></select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Observação</label>
                                <textarea id="txtObs" class="form-control" name="Observacao" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div id="divEspecialidade">
                                <p id="divEspecialidadeText"></p>
                            </div>
                            <div id="divAgendamento">
                                <p id="divAgendamentoText"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="btnConfirmar" disabled="">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para informar sobre o pagamento -->
<div class="modal fade" id="mdlPagamento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 1024px; width: 1024px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlTitlePagamento"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-pagamento" method="post" action="@Url.Action("ConfirmarVenda")">
                <div class="modal-body">
                    <input type="hidden" name="AgendamentoId" id="hddEdicaoIdPag" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input type="text" class="form-control" disabled="disabled" id="txtCliente" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pet</label>
                                <input type="text" class="form-control" disabled="disabled" id="txtPet" />
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label>Serviços</label>
                                <input type="text" class="form-control" disabled="disabled" id="txtServico" />
                                <small>Pataz a serem recebidos ao final: <span id="spPzFinal"></span></small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Valor</label>
                                <input type="text" class="form-control" disabled="disabled" id="txtValorServico" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h5>Produtos incluídos no serviço</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Produto</label>
                                <select class="form-control" id="ddlProdutos">
                                    <option>-- Selecione --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Quantidade</label>
                                <input type="number" class="form-control" placeholder="Qtd" id="txtQuantidade" />
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top: 29px;">
                            <div class="form-group">
                                <button class="btn btn-outline-primary" type="button" onclick="confirmarProduto()">Confirmar</button>
                            </div>
                        </div>
                        <table class="table table-hover" id="tblProdutos">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th class="text-center">Preço</th>
                                    <th class="text-center">Com Desconto</th>
                                    <th class="text-center">Quantidade</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div class="col-md-12">
                            <br />
                            <h5>Pagamento</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Forma de Pagamento</label>
                                <select class="form-control" id="ddlTipoPagamento" name="TipoPagamentoId"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Valor Total</label>
                                <input type="text" class="form-control money" placeholder="R$ 25,00" id="txtValorTotal" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Descontos</label>
                                <input type="text" class="form-control money" placeholder="R$ 25,00" id="txtValorDescontos" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Valor Pago</label>
                                <input type="text" class="form-control money" placeholder="R$ 25,00" id="txtValorPago" name="ValorPago" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Pataz disponível</label>
                                <input type="text" class="form-control" placeholder="0" id="txtPz" disabled="" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Pataz Necessário</label>
                                <input type="text" class="form-control" placeholder="0" id="txtPzNecessario" disabled="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" onclick="clienteAusente()" >Cliente Ausente?</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/paginas/servico-agendamento.js"></script>
}